# misc
.DS_Store
__pycache__

# audio files
*.wav
*.mp3
*.flac
*.ogg
*.m4a
*.aac
*.wma
*.zip
card_audio/
**/card_audio/
split_audio/
**/split_audio/
wav_output/
data/sentence_audio_wav/

# cache for English TTS 
cache

# data that isn't public
# user data used by scripts
user-*.json
whole-db.json
Cherokee Dictionary (w_ MDS) - Dictionary.csv
data/private/*